* {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition-duration: 0.1s;
}


body {
    box-sizing: border-box;
    margin:0;
    
}
:root{
--slate-50: #F8FAFC;
--slate-100: #F1F5F9;
--slate-200: #E2E8F0;
--slate-300: #CBD5E1;
--slate-400: #94A3B8;
--slate-500: #64748B;
--slate-600: #475569;
--slate-700: #334155;
--slate-800: #1E293B;
--slate-900: #0F172A;

--pri-50: #F5F3FF;
--pri-100: #EDE9FE;
--pri-200: #DDD6FE;
--pri-300: #C4B5FD;
--pri-400: #A78BFA;
--pri-500: #8B5CF6;
--pri-600: #7C3AED;
--pri-700: #6D28D9;
--pri-800: #5B21B6;
--pri-900: #4C1D95;
/*colors are violet and slate from tailwind*/
}


div {
    border: 0.1rem solid var(--slate-200); 
    margin: 1rem;
    border-radius: 1rem;
    padding:1rem;
}

.subdiv {
    padding:0;
    margin: 0;
    border:none;
}
h1 {
    margin: 0;
    color: var(--slate-700);
    font-size: 1.5rem;
    line-height:1.75rem;
}
h2 {
    font-size: 1.125rem;
    color:var(--slate-600);
}
p {
    color:var(--slate-600);
    font-size:0.875rem;
    line-height: 1rem;
}

#list {
    background: var(--slate-50);
    padding: 1rem 2rem 1rem 2rem;
    border: 0.125rem solid var(--slate-100);
    border-radius:1rem;
    list-style-type: disc;
    color:var(--slate-600);
    font-size:0.875rem;
}

header {
    
    padding:1rem;
    
}
header p {
    margin: 1rem 0 0 1;
}
 header h1{
    background-color: var(--pri-50);
    padding:1rem;
    border: 0.5rem solid var(--pri-100);
    border-radius: 1rem;
    color:var(--pri-900);
    font-size:1.5rem;
 }

hr {
    border:none;
    border-top: 1px solid var(--slate-100);
    margin: 0rem 0 0rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    text-align:left;
    font-size:0.875rem;
    color:var(--slate-500);
    border: 1px solid var(--slate-100);
    border-radius: 1rem;
}

th {
    padding: 1rem 2rem 1rem 2rem;
}

th:hover{
    background-color: white;
    color:var(--pri-400);
}

tr{
    border: 1px solid var(--slate-200);
}
.grey {
    background-color: var(--slate-50); 
}
.white{
    font-size: 0.875rem;;
    color: var(--slate-400)
}

#section {
    display: flex;
    flex-direction: row;
    border: none;
    margin: 0 !important;
    padding: 0 !important;
    gap:4px;

}

sidebar {
    display: flex;
    
    flex-direction: column;
    border-right:1px solid var(--slate-200); 
    padding:1rem;
    flex-basis:1;
    min-width:6rem;

    
}

#stickyLinks {
    margin: 0;
    border:none;
    padding:0;
    position:sticky;
    top:1rem;
}

main {
    display:flex;
    flex-direction: column;
    flex-basis:1;
}

sidebar a {
    display:flex;
    justify:center;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: var(--slate-700);
    text-decoration: none;
    font-size:0.875rem;
    border-radius:0.25rem;
    
    text-align:left;
}

sidebar a:hover {
    background-color:var(--pri-100);
    color:var(--pri-300)
}